/*designing for
mobile, 400px
website, 1440px 370px*/

*{
	margin: 0;
	padding: 0;
}

.container{
	width: 100%;
}

/*the direction of my web design came from my observation
of Apple's web design. How the background is fixed in one
position as the content follows where you scroll*/

.mushroom-1{
	width: 45%;
	position: fixed;
	padding: 70px 30px 0px 420px ;
}
.caption{
	width: 100%;
	position: fixed;
	padding: 30px 30px 0px 300px;
	color: antiquewhite;
    font: 14px helvetica, sans-serif;
    word-spacing: 8px;
}

/*of course, I'm not that advanced in coding right now, this
is just my thought process*/

/*to better guide the user on my webpage, I applied arrows
across the page to direct to the contents*/
.web-header{
	width: 100%;
	position: absolute;
	float: right;
	padding: 300px 30px 500px 200px;
    color: antiquewhite;
    font: 100px helvetica, sans-serif;
}
.web-sub{
	width: 100%;
	position: absolute;
	padding: 450px 30px 30px 1300px;
    color: antiquewhite;
    font: 45px helvetica, sans-serif;
}
.web-sub2{
	width: 100%;
	position: absolute;
	padding: 450px 30px 30px 2700px;
    color: antiquewhite;
    font: 45px helvetica, sans-serif;
}


.web-p{
	width: 100%;
	position: absolute;
	margin: 720px 30px 0px 1650px;
    color: antiquewhite;
    font: 14px helvetica, sans-serif;
    line-height: 1.5;
}
.web-p2{
	width: 100%;
	position: absolute;
	margin: 720px 30px 0px 3100px;
    color: antiquewhite;
    font: 14px helvetica, sans-serif;
    line-height: 1.5;
}



/*adjust to mobile*/
@media only screen and (max-width: 600px){
	.web-header{display: none;}
	.web-sub{display: none;}
	.web-sub2{display: none;}
	.web-p{display: none;}
	.web-p2{display: none;}
	

	.container{
		width: 100%;
	}

/*the image is sized down much more to increase legibility,
giving more room for the text to appear onto the screen*/

	.mushroom-1{
	width: 90%;
	position: fixed;
	padding: 30px 30px 0px 250px ;
    }
    .caption{
	width: 40%;
	position: fixed;
	padding: 30px 30px 0px 30px;
	color: antiquewhite;
    font: 10px helvetica, sans-serif;
    word-spacing: 2px;
    } 
 
/*Here, I changed the direction of the arrow to guide the
user in the generic mobile scrolling pattern*/

    .mob-header{
	width: 100%;
	position: absolute;
	float: right;
	padding: 200px 30px 1800px 30px;
    color: antiquewhite;
    font: 100px helvetica, sans-serif;
    line-height: .9;
    }
    .mob-header2{
	width: 100%;
	position: absolute;
	float: right;
	padding: 1700px 30px 500px 30px;
    color: antiquewhite;
    font: 100px helvetica, sans-serif;
    line-height: .9;
    }


    .mob-sub{
	width: 100%;
	position: absolute;
	padding: 920px 30px 30px 30px;
    color: antiquewhite;
    font: 35px helvetica, sans-serif;
    }
    .mob-p{
	width: 100%;
	position: absolute;
	margin: 1100px 30px 0px 30px;
    color: antiquewhite;
    font: 12px helvetica, sans-serif;
    line-height: 1.3;
    }
    .mob-sub2{
	width: 100%;
	position: absolute;
	padding: 1850px 30px 0px 30px;
    color: antiquewhite;
    font: 35px helvetica, sans-serif;
    }

    .mob-p2{
	width: 100%;
	position: absolute;
	margin: 2000px 30px 30px 30px;
    color: antiquewhite;
    font: 12px helvetica, sans-serif;
    line-height: 1.3;
    }

}